
.domain-dependent {
    opacity: 0.5;
    pointer-events: none;
}

.domain-dependent:after {
    content: " (not available until you enter your course URL)";
}

.block {
    display: block;
    overflow-x: scroll;
}

.block.not-yet { opacity: 0.5; user-select: none; cursor: not-allowed; }

code.block {
    background: #EEE;
    padding: 10px;
    margin: 10px 0;
}

.callout {
    display: block;
    padding: 20px;
    border: 1px solid #EEE;
    margin: 15px 0;
}

.callout.success { border: 1px solid green; }
.callout.failure { border: 1px solid red; }

code.block span { user-select: all; }

input[type=submit].big, button.big {
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    margin: 20px 0;
    display: block;

    border-radius: 3px;
}

input[type=submit], button, .btn { cursor: pointer; }
