.edutools-logo {
    font-family: 'Eczar', Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;

    margin: 10px 0;
    text-align: center;
}

.edutools-intro {
    width: 100%;
    /* display: ; */
}